<blc:form th:object="${giftCardInfoForm}" th:action="@{/checkout/giftcard}" method="post" id="giftCard_info" th:if="${validOrderInfo and validShipping}">
    <div id="giftcardfields">

        <!--<br th:if="${#fields.hasErrors('giftCardNumber')}"/>-->
        <!---->
        <!--<br th:if="${#fields.hasErrors('giftCardEmailAddress')}"/>-->

        <div class="giftCardDivs">
            <div class="form25">
                <label for="giftCardNumber" class="prompt"><span th:text="#{cart.giftCardNumber}">Gift Card Number</span></label>
                <span class="error_long" th:if="${#fields.hasErrors('giftCardNumber')}" th:errors="*{giftCardNumber}"></span>
                <div class="form100">
                    <input type="text" th:field="*{giftCardNumber}" id="giftCardNumber" class="field35" th:classappend="${#fields.hasErrors('giftCardNumber')}? 'fieldError'"/>
                </div>
            </div>
        </div>
        <div class="giftCardDivs">
            <div class="form25">
                <label for="giftCardEmailAddress" class="prompt"><span th:text="#{cart.emailAddress}">Gift Card Email</span></label>
                <span class="error" th:if="${#fields.hasErrors('giftCardEmailAddress')}" th:errors="*{giftCardEmailAddress}"></span>
                <div class="form100">
                    <input type="text" th:field="*{giftCardEmailAddress}" id="giftCardEmailAddress" class="field35" th:classappend="${#fields.hasErrors('giftCardEmailAddress')}? 'fieldError'" />
                </div>
            </div>
        </div>

        <div class="giftCardDivs">
            <input type="submit" class="medium" th:value="#{cart.completOrder}" th:disabled="${!validShipping}" th:classappend="${validShipping}? 'red' : 'gray'"/>
        </div>


    </div>
</blc:form>